---
---
<html lang="en">
  <head>
    <meta name="go-import" content="slatedb.io/slatedb-go git https://github.com/slatedb/slatedb slatedb-go/go">
    <meta name="go-source" content="slatedb.io/slatedb-go https://github.com/slatedb/slatedb https://github.com/slatedb/slatedb/tree/main/slatedb-go/go{/dir} https://github.com/slatedb/slatedb/blob/main/slatedb-go/go{/dir}/{file}#L{line}" />
    <title>SlateDB Go module</title>
  </head>
  <main>
    <h1>SlateDB Go module</h1>
    <p>
      Vanity import path for the Go module. Repository: 
      <a href="https://github.com/slatedb/slatedb/tree/main/slatedb-go/go">github.com/slatedb/slatedb/slatedb-go/go</a>
    </p>
  </main>
</html>
