**/target
**/.gradle/
**/build/
**/.ruff_cache/
.DS_Store
.idea
.env
proptest-regressions/
tmp
.vscode

*.pyc
*.so
bindings/python/dist
bindings/python/slatedb/uniffi/_slatedb_uniffi/
bindings/python/slatedb/_slatedb_uniffi/
.claude/
CLAUDE.md
website/src/content/docs/rfcs/*.md
