[package]
name = "slatedb"
version = "0.1.5"
edition = "2021"
description = "A cloud native embedded storage engine built on object storage."
repository = "https://github.com/slatedb/slatedb"
license = "Apache-2.0"
homepage = "https://slatedb.io"
readme = "README.md"

[dependencies]
async-channel = "2.3.1"
async-trait = "0.1.82"
atomic = "0.6.0"
bytemuck = "1.18.0"
bytes = "1.7.1"
clap = { version = "4.5", optional = true, features = ["derive"] }
crc32fast = "1.4.2"
crossbeam-channel = "0.5.13"
crossbeam-skiplist = "0.1.3"
env_logger = { version = "0.11", optional = true }
fail-parallel = "0.5.1"
flatbuffers = "24.3.25"
futures = "0.3.30"
leaky-bucket = {  version = "1.1", optional = true }
object_store = "0.11.0"
parking_lot = "0.12.3"
siphasher = "1"
thiserror = "1.0.63"
tokio = { version = "1.40.0", features = ["macros", "sync", "rt", "rt-multi-thread"] }
ulid = "1.1.3"
rand = "0.8.5"
rand_xorshift = "0.3.0"
log = {  version = "0.4.22", features = ["std"] }
once_cell = "1.19.0"
tracing = {version = "0.1.40", features = ["log"]}
snap = { version = "1.1.1", optional = true }
flate2 = { version = "1.0.33", optional = true }
lz4_flex = { version = "0.11.3", optional = true }
zstd = { version = "0.13.2", optional = true }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
moka = { version = "0.12.8", features = ["future"] }
foyer = { git = "https://github.com/foyer-rs/foyer", rev = "ff588d4" }

[dev-dependencies]
tokio = { version = "1.40.0", features = ["rt-multi-thread"] }
fail-parallel = { version = "0.5.1", features = ["failpoints"] }
tempfile = "3.3"

[features]
default = ["aws"]
aws = ["object_store/aws"]
db_bench = ["aws", "env_logger", "leaky-bucket", "clap", "clap/derive", "wal_disable"]
compression = ["snappy"]
snappy = ["dep:snap"]
zlib = ["dep:flate2"]
lz4 = ["dep:lz4_flex"]
zstd = ["dep:zstd"]
wal_disable = []

[[bin]]
name = "compaction-execute-bench"
path = "src/compaction_execute_bench/compaction_execute_bench.rs"
required-features = ["db_bench"]

[[bin]]
name = "db-bench"
path = "src/db_bench/main.rs"
required-features = ["db_bench"]
