[package]
name = "slatedb"
version = "0.1.0"
edition = "2021"
description = "A cloud native embedded storage engine built on object storage."
repository = "https://github.com/slatedb/slatedb"
license = "Apache-2.0"
homepage = "https://github.com/slatedb/slatedb"
readme = "README.md"

[dependencies]
bytes = "1.6.0"
crc32fast = "1.4.0"
crossbeam-skiplist = "0.1.3"
flatbuffers = "24.3.25"
futures = "0.3.30"
object_store = "0.9.1"
parking_lot = "0.12.1"
siphasher = "1"
thiserror = "1.0.59"
tokio = { version = "1.37.0", features = ["sync", "rt"] }
ulid = "1.1.2"
rand = "0.8.5"
log = {  version = "0.4.22", features = ["std"] }
once_cell = "1.19.0"

[features]
default = ["failpoints"]
failpoints = []

[dev-dependencies]
tokio = { version = "1.37.0", features = ["rt-multi-thread"] }
