---
---
<html lang="en">
  <head>
    <meta name="go-import" content="slatedb.io/slatedb-go git https://github.com/slatedb/slatedb bindings/go">
    <meta name="go-source" content="slatedb.io/slatedb-go https://github.com/slatedb/slatedb https://github.com/slatedb/slatedb/tree/main/bindings/go{/dir} https://github.com/slatedb/slatedb/blob/main/bindings/go{/dir}/{file}#L{line}" />
    <title>SlateDB Go UniFFI package</title>
  </head>
  <main>
    <h1>SlateDB Go UniFFI package</h1>
    <p>
      Import the generated package as <code>slatedb.io/slatedb-go/uniffi</code>.
      The package identifier is <code>slatedb</code>.
    </p>
    <p>
      Source:
      <a href="https://github.com/slatedb/slatedb/tree/main/bindings/go/uniffi">github.com/slatedb/slatedb/bindings/go/uniffi</a>
    </p>
  </main>
</html>

{/*
  This page exists so `slatedb.io/slatedb-go/uniffi?go-get=1` serves the same
  module discovery metadata as the module root. The authoritative import prefix
  remains `slatedb.io/slatedb-go`, because `bindings/go` is still the module
  root and `uniffi` is a package beneath it.
*/}
