disallowed-types   = [
    { path = "rand::rngs::OsRng", reason = "Only our rand.rs may touch this" },
    { path = "rand::rngs::ThreadRng", reason = "Only our rand.rs may touch this" },
    { path = "rand::rngs::StdRng", reason = "Only our rand.rs may touch this" },
    { path = "rand::rngs::SmallRng", reason = "Only our rand.rs may touch this" },
    { path = "rand::prelude::SmallRng", reason = "Only our rand.rs may touch this" },
    { path = "rand::prelude::StdRng", reason = "Only our rand.rs may touch this" },
    { path = "rand::prelude::ThreadRng", reason = "Only our rand.rs may touch this" },
    { path = "rand_chacha::ChaChaRng", reason = "Only our rand.rs may touch this" },
    { path = "rand_chacha::ChaChaCore", reason = "Only our rand.rs may touch this" },
    { path = "rand_chacha::ChaCha8Core", reason = "Only our rand.rs may touch this" },
    { path = "rand_chacha::ChaCha8Rng", reason = "Only our rand.rs may touch this" },
    { path = "rand_chacha::ChaCha12Core", reason = "Only our rand.rs may touch this" },
    { path = "rand_chacha::ChaCha12Rng", reason = "Only our rand.rs may touch this" },
    { path = "rand_chacha::ChaCha20Core", reason = "Only our rand.rs may touch this" },
    { path = "rand_chacha::ChaCha20Rng", reason = "Only our rand.rs may touch this" },
    { path = "rand_xorshift::XorShiftRng", reason = "Only our rand.rs may touch this" },
    { path = "rand_xoshiro::Xoshiro256PlusPlus", reason = "Only our rand.rs may touch this" },
    { path = "rand_xoshiro::Xoshiro256Plus", reason = "Only our rand.rs may touch this" },
    { path = "rand_xoshiro::Xoshiro256StarStar", reason = "Only our rand.rs may touch this" },
    { path = "rand_xoshiro::Xoshiro128PlusPlus", reason = "Only our rand.rs may touch this" },
    { path = "rand_xoshiro::Xoshiro128Plus", reason = "Only our rand.rs may touch this" },
    { path = "rand_xoshiro::Xoshiro128StarStar", reason = "Only our rand.rs may touch this" },
    { path = "rand_xoshiro::SplitMix64", reason = "Only our rand.rs may touch this" },
    { path = "rand_xoshiro::Xoroshiro64Star", reason = "Only our rand.rs may touch this" },
    { path = "rand_xoshiro::Xoroshiro64StarStar", reason = "Only our rand.rs may touch this" },
    { path = "rand_xoshiro::Xoroshiro128Plus", reason = "Only our rand.rs may touch this" },
    { path = "rand_xoshiro::Xoroshiro128PlusPlus", reason = "Only our rand.rs may touch this" },
    { path = "rand_xoshiro::Xoroshiro128StarStar", reason = "Only our rand.rs may touch this" },
    { path = "rand_xoshiro::Xoshiro128Plus", reason = "Only our rand.rs may touch this" },
    { path = "rand_xoshiro::Xoshiro128PlusPlus", reason = "Only our rand.rs may touch this" },
    { path = "rand_xoshiro::Xoshiro128StarStar", reason = "Only our rand.rs may touch this" },
    { path = "rand_xoshiro::Xoshiro256Plus", reason = "Only our rand.rs may touch this" },
    { path = "rand_xoshiro::Xoshiro256PlusPlus", reason = "Only our rand.rs may touch this" },
    { path = "rand_xoshiro::Xoshiro256StarStar", reason = "Only our rand.rs may touch this" },
    { path = "rand_xoshiro::Xoshiro512Plus", reason = "Only our rand.rs may touch this" },
    { path = "rand_xoshiro::Xoshiro512PlusPlus", reason = "Only our rand.rs may touch this" },
    { path = "rand_xoshiro::Xoshiro512StarStar", reason = "Only our rand.rs may touch this" },
    { path = "uuid::Builder", reason = "Only our utils.rs may touch this" },
    { path = "ulid::Generator", reason = "Only our utils.rs may touch this" },
]
disallowed-methods = [
    { path = "rand::random", reason = "Only our rand.rs may touch this" },
    { path = "rand::thread_rng", reason = "Only our rand.rs may touch this" },
    { path = "rand::prelude::random", reason = "Only our rand.rs may touch this" },
    { path = "rand::prelude::thread_rng", reason = "Only our rand.rs may touch this" },
    { path = "std::time::SystemTime::now", reason = "Only our clock.rs may touch this" },
    { path = "ulid::Ulid::new", reason = "Only our utils.rs may touch this" },
    { path = "uuid::Uuid::new_v1", reason = "Only our utils.rs may touch this" },
    { path = "uuid::Uuid::new_v3", reason = "Only our utils.rs may touch this" },
    { path = "uuid::Uuid::new_v4", reason = "Only our utils.rs may touch this" },
    { path = "uuid::Uuid::new_v5", reason = "Only our utils.rs may touch this" },
    { path = "uuid::Uuid::new_v6", reason = "Only our utils.rs may touch this" },
    { path = "uuid::Uuid::new_v7", reason = "Only our utils.rs may touch this" },
    { path = "uuid::Uuid::new_v8", reason = "Only our utils.rs may touch this" },
]