:root {
    --sl-social-icon-color: #475569;
    --sl-social-icon-hover-color: black;
    --sl-social-icon-size: 1.5rem;
    --sl-image-bg-color: black;
    --sl-color-bg-nav: white;
}

.getting-started {
    padding-block: clamp(2.5rem, 1rem, 10rem);
}

.expressive-code {
    margin-top: 1.25rem;
}

.sl-markdown-content img {
    background-color: var(--sl-image-bg-color);
}

/* Hide the theme selector */
starlight-theme-select {
    display: none;
}

/* Remove border-bottom only on main page (pages without sidebar) */
.page:not([data-has-sidebar]) .header {
    border-bottom: none !important;
}

/* Reduce logo size */
.site-title img {
    height: calc((var(--sl-nav-height) - 2 * var(--sl-nav-pad-y)) * 0.8) !important;
}