---
import SiteTitle from '@astrojs/starlight/components/SiteTitle.astro';
---

<div class="footer">
    <div class="footer-content">
        <div class="copyright-wrapper sl-flex">
            Copyright © 2025 SlateDB Authors. All rights reserved.
        </div>
        <div class="title-wrapper sl-flex">
            <SiteTitle />
        </div>
    </div>
</div>

<style>
    
    .footer {
		z-index: var(--sl-z-index-navbar);
		width: 100%;
		height: var(--sl-nav-height);
		border-top: 1px solid var(--sl-color-hairline-shade);
		padding: var(--sl-nav-pad-y) var(--sl-nav-pad-x);
		padding-inline-end: var(--sl-nav-pad-x);
		background-color: var(--sl-color-bg-nav);
        margin-top: auto;
	}

    .footer-content {
		display: flex;
		gap: var(--sl-nav-gap);
		justify-content: space-between;
		align-items: center;
		height: 100%;
	}

    .copyright-wrapper {
        font-size: clamp(var(--sl-text-sm),calc(0.5rem + 1vw),var(--sl-text-body));
    }

    .title-wrapper {
		/* Prevent long titles overflowing and covering the search and menu buttons on narrow viewports. */
		overflow: clip;
		/* Avoid clipping focus ring around link inside title wrapper. */
		padding: 0.25rem;
		margin: -0.25rem;
		min-width: 0;
	}
</style>
