---
import SocialIcons from './SocialIcons.astro';
---

<div class="footer">
    <div class="footer-content">
        <div class="footer-icons">
            <SocialIcons />
        </div>
        <div class="copyright-wrapper sl-flex">
            <p>
                <img src="https://raw.githubusercontent.com/commonhaus/artwork/main/foundation/brand/svg/CF_logo_horizontal_single_default.svg" height="20"/><br />
                Copyright © <a href="https://slatedb.io">SlateDB</a>. All rights reserved. For details on our trademarks, please visit our <a href="https://www.commonhaus.org/policies/trademark-policy/">Trademark Policy</a> and <a href="https://www.commonhaus.org/trademarks/">Trademark List</a>.<br/>
                Trademarks of third parties are owned by their respective holders and their mention here does not suggest any endorsement or association.
            </p>
        </div>
    </div>
</div>

<style>
    
    .footer {
		z-index: var(--sl-z-index-navbar);
		width: 100%;
		height: calc(1.5 * var(--sl-nav-height));
		border-top: 1px solid var(--sl-color-hairline-shade);
		padding: var(--sl-nav-pad-y) var(--sl-nav-pad-x);
		padding-inline-end: var(--sl-nav-pad-x);
		background-color: var(--sl-color-bg-nav);
        margin-top: auto;
	}

    .footer-content {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		align-items: center;
		height: 100%;
	}

	.footer-icons {
		display: flex;
		gap: 1rem;
		align-items: center;
		justify-content: center;
		order: 1;
	}

    .copyright-wrapper {
        font-size: .75rem;
		font-family: monospace;
		order: 2;
		text-align: center;
		line-height: 140%;
		color: #999;
		a { color: #999; }
	}

	@media (min-width: 50rem) {
		.footer-content {
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
		}

		.footer-icons {
			order: 2;
		}

		.copyright-wrapper {
			order: 1;
			text-align: left;
		}
	}

    .title-wrapper {
		/* Prevent long titles overflowing and covering the search and menu buttons on narrow viewports. */
		overflow: clip;
		/* Avoid clipping focus ring around link inside title wrapper. */
		padding: 0.25rem;
		margin: -0.25rem;
		min-width: 0;
	}
</style>
