---
import SocialIcons from './SocialIcons.astro';
import SiteTitle from '@astrojs/starlight/components/SiteTitle.astro';
import Search from '@astrojs/starlight/components/Search.astro';

---

<div class="header">
	<div class="title-wrapper sl-flex">
		<SiteTitle />
	</div>
	<div class="sl-hidden md:sl-flex right-group print:hidden">
		<div class="search-wrapper print:hidden">
			<Search />
		</div>
		<div class="sl-flex social-icons">
			<SocialIcons />
		</div>
	</div>
</div>

<style>
        .header {
			display: flex;
			gap: var(--sl-nav-gap);
			justify-content: space-between;
			align-items: center;
			height: 100%;
		}

		.title-wrapper {
			/* Prevent long titles overflowing and covering the search and menu buttons on narrow viewports. */
			overflow: clip;
			/* Avoid clipping focus ring around link inside title wrapper. */
			padding: 0.25rem;
			margin: -0.25rem;
			min-width: 0;
		}

		.search-wrapper {
			flex: 1;
			width: 360px;
			justify-content: flex-end;
		}

		.right-group,
		.social-icons {
			gap: 1rem;
			align-items: center;
		}

        .sl-flex {
            display: flex;
        }
        
        .social-icons::after {
            content: none;
            border-inline-end: none;
        }
</style>